<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
  <h2>What's going on in Syria?</h2>
  {{ nav.my_navbar.render() }}
  <hr>

  <p align=center><br><br><br>Watch this video before exploring the rest of the site.</p>

  <p align=center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/JFpanWNgfQY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</body>
</html>
