<!DOCTYPE html>
<html>
   <body>
      <h3>User Responses</h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "userresponse">What do you think?</label><br>
         <input type = "text" userresponse = "userresponse" placeholder = "Enter your response" /><br>
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>
